{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'accounts/sideNav.html' %}

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </head>
  <style>
    /* Toggle Styles */

    .xyz {
      min-width: 360px;
      margin-left: 15%;
    }

    .container {
      background-color: rgb(255, 255, 255);
      min-height: 400px;
      min-width: 40%;
      border-radius: 0;
      margin-top: 2%;
      align-items: center;
      padding: 60px, 50px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      height: 100%;
    }
  </style>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>adminDashboard</title>
      <!-- Latest compiled and minified CSS -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
      />

      <link
        href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css"
        rel="stylesheet"
      />
    </head>
    <body>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      />
      <div id="page-content-wrapper">
        <div class="container-fluid xyz" style="margin-left: 15%">
          <div class="container">
            <h2>Booking table</h2>
            <table class="table table-fluid" id="myTable">
              <thead>
                <tr>
                  <th>Booked venue</th>
                  <th>Booked by</th>
                  <th>Event data</th>
                  <th>Event Type</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                {% for booking in booking.all %}
                <tr>
                  <td>{{ booking.venue }}</td>
                  <td>{{ booking.customer}}</td>
                  <td>{{ booking.eventStartDate}}</td>
                  <td>{{ booking.eventType }}</td>
                  <td>{{ booking.totalPrice }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $("#myTable").DataTable();
        });
      </script>
    </body>
  </html>
</html>
