{%  extends 'accounts/main.html' %}
{%  include 'accounts/main.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="daterangepicker.css" rel="stylesheet"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
<script src="moment.min.js"></script>
<script src="daterangepicker.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet">
          -->

         
<style>
  
  * {
  box-sizing: border-box;
  
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<body >

  <div class="container"><h3>Select your services Type</h3>
              
    <input type="radio" id="checkbox1" name="checkboxSwitch" value="checkbox1" checked>
    <label for="radio1">Venue Service</label>
  
    <input type="radio" id="checkbox3" name="checkboxSwitch"value="checkbox3">
    <label for="checkbox3">Catering Service</label>
          
      </div>   <br>
<div class="container">
  <div onload='hideTotal()'>
  <div id="wrap">
    <div id="venueService">
      <form action="" method="POST" id="cakeform" onsubmit="return false;">
     
          <div class="cont_order">
            <input type="text" id= "picker" class="form-contro;">
            
              <fieldset>
               
             
                <br>
              
                  <label for="">Size of the cake</label> <br>
                  <label for="" class="radiolabel">
                      <input type="radio" name="selectedcake" value="Round6" onclick="calculateTotal() ">Round cake 6"- service 8 people ($20)
                  </label>  <br>
                  <label for="" class="radiolabel">
                      <input type="radio" name="selectedcake" value="Round8" onclick="calculateTotal()"> Round cake 8" - service 12 people ($25)
                  </label> <br>
                  <label for="" class="radiolabel">
                      <input type="radio" name="selectedcake" value="Round10" onclick="calculateTotal()"> Round cake 10" - service 16 people ($35)
                  </label> <br>
                  <label for="" class="radiolabel">
                      <input type="radio" name="selectedcake" value="Round12" onclick="calculateTotal()"> Round cake 12" - service 30 people ($75)
                  </label> <br> 
                  <br>
                  <label for="">Filling</label>
  
                  <select name="filling" id="filling" onchange="calculateTotal()">
                      <option value="None"> Select Filling</option>
                      <option value="Lemon">Lemon($5)</option>
                      <option value="Custed">Custed($5)</option>
                      <option value="Fudge">Fudge($7)</option>
                      <option value="Mocha">Mocha($8)</option>
                  </select>  <br>  <br>
                
                  <label for="">Anchor price: Tk 4.50 </label>
                  <select name="quantity" id="quantity" onchange="calculateTotal()">
                      <option value="0">Qnty</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                  </select>
                  <br> 
                  <p>
  
                      <label for="includecandles" class="inlinelabel"> Include Candles ($5)</label>
                      <input type="checkbox" id="includecandles" name="includecandles" onclick="calculateTotal()"/>
  
                  </p>
  
                  <p>
                      <label for="includeinscription">Include Inscription($20)</label>
                      <input type="checkbox" id="includeinscription" name="includeinscription" onclick="calculateTotal()">
                  </p>
                  <div id="totalPrice" style="background:rgb(0, 162, 255);"></div>
              </fieldset>
          </div>
          <input type="submit" id="submit" value="Submit" onclick="calculateTotal()" style="margin-top: 5px;">
      </form>
  </div>
</div>
  <div class="container">
    <form method="post" id="cateringService">
      <h1>catering</h1>
      <form>



<script type="text/javascript">  



$('#picker').daterangepicker({
  singleDatePicker:True,
  showDropdowns:true,
  open:'right',
  drop: 'down',



})
// radio button function to swithch forms
var checkboxSwitch = document.getElementsByName("checkboxSwitch");
var venueService =  document.getElementById("venueService");
var cateringService =  document.getElementById("cateringService");
venueService.style.display = 'block';   // show
cateringService.style.display = 'none';// hide
for(var i = 0; i < checkboxSwitch.length; i++) {
  checkboxSwitch[i].onclick = function() {
        var val = this.value;
        if(val == 'checkbox1' || val == 'checkbox2'){
          venueService.style.display = 'block';
            cateringService.style.display = 'none';
        }
        else if(val == 'checkbox3'){
          venueService.style.display = 'none';
             cateringService.style.display = 'block';
        }    
            
    }
}


var cake_prices = new Array();
cake_prices["Round6"]=20;
cake_prices["Round8"]=25;
cake_prices["Round10"]=35;
cake_prices["Round12"]=75;

var filling_prices= new Array();
filling_prices["None"]=0;
filling_prices["Lemon"]=5;
filling_prices["Custed"]=5;
filling_prices["Fudge"]=7;
filling_prices["Mocha"]=8;

var tenAnchorPrice=4.50;
var Anchor_Quantity=new Array();
Anchor_Quantity["0"]=0;
Anchor_Quantity["1"]=1;
Anchor_Quantity["2"]=2;
Anchor_Quantity["3"]=3;
Anchor_Quantity["4"]=4;
Anchor_Quantity["5"]=5;
Anchor_Quantity["6"]=6;
Anchor_Quantity["7"]=7;
Anchor_Quantity["8"]=8;
Anchor_Quantity["9"]=9;
Anchor_Quantity["10"]=10;

function getCakeSizePrice()
{
	var cakeSizePrice=0;
	var theForm = document.forms["cakeform"];
	var selectedCake = theForm.elements["selectedcake"] 
	for (var i = 0; i < selectedCake.length; i++)
	{
		if (selectedCake[i].checked) 
			{
				cakeSizePrice = cake_prices[selectedCake[i].value];
				break;
			}
	}
	return cakeSizePrice;
}

function getFillingPrice()
{
	var cakeFillingPrice=0;
	var theForm= document.forms["cakeform"];
	var selectedFilling= theForm.elements["filling"];

	cakeFillingPrice = filling_prices[selectedFilling.value];
	return cakeFillingPrice;
}

//tttttttttttttttttttttttttt test tttttttttttttttttttttt
/*
function AnchorsPrice()
{   
	var AnchorPrice=0;
	var theForm = document.forms["cakeform"];
	var includeAnchorPrice= theForm.elements["tenAnchorPrice"];

	if (includeAnchorPrice.checked==true) {
		AnchorPrice=4.25;
	};
	return AnchorPrice;
}*/

function getAnchorQuantity()
{   
	var AnchorQuantity=0;
	var theForm= document.forms["cakeform"];
	var selectedAnchor= theForm.elements["quantity"];

	AnchorQuantity = Anchor_Quantity[selectedAnchor.value];
	return AnchorQuantity;
}
//tttttttttttttttttttttttttt test tttttttttttttttttttttt

function candlesPrice()
{   
	var candlePrice=0;
	var theForm = document.forms["cakeform"];
	var includeCandles= theForm.elements["includecandles"];

	if (includeCandles.checked==true) {
		candlePrice=5;
	};
	return candlePrice;
}


function insciptionPrice()
{
	var inscriptionPrice= 0;
	var theForm= document.forms["cakeform"];
	var includeInscription= theForm.elements["includeinscription"];

	if (includeInscription.checked==true) {
		inscriptionPrice=20;
	};
	return inscriptionPrice;
}


function calculateTotal()
{
// var cakePrice= getCakeSizePrice() + getFillingPrice() + candlesPrice() + insciptionPrice() ;
var cakePrice=getCakeSizePrice() + getFillingPrice() + candlesPrice() + insciptionPrice() + tenAnchorPrice * getAnchorQuantity() ;
  
    var divobj = document.getElementById('totalPrice');
    divobj.style.display='block';
    divobj.innerHTML = "Total Price for the Cake $"+ cakePrice;
}

function hideTotal()
{
	var divobj= document.getElementById('totalPrice');
	divobj.style.display='none';
}
</script>
  
  </body>

</html>
{% endblock %}