{%  extends 'accounts/main.html' %}
{%  include 'accounts/main.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet">

         

<style>
  
  * {
  box-sizing: border-box;
  
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.card{
  margin: 25px;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<body >
<br>
<br>
<form method="POST">
  {% csrf_token %}
  <div class="container"><h3>Book your services </h3>
        
  
<div class="container">
  <div onload='hideTotal()'>
  <div id="wrap">
    <div id="venueService">

              <fieldset>
                <div class="cont_order">
                  <label>Event On:</label>
                  <input type="date" id= "startDate" max ="" name ="eventStartDate" >

                </div>

                  
                  
                    <fieldset>
                     
                   
                      <br>
                      <label for="cars">Choose your event type:</label>
      
                        <select id="event" name="eventType">
                          <option value="Wedding">Wedding</option>
                          <option value="Corporate">Corporate Events</option>
                          <option value="Birthday">Birthday Party</option>
                        
                        </select>
               <br>
             
               <br>
               <p>
                <label>Select your prefered services for the event</lable><br>
                  <!-- {{ form.as_p}} -->
                 
                     <!-- <li><input type="checkbox", value="clicked", name="c{{catering.id}}">{{ form.catering }}</li> -->
                     <!-- {{ form.catering }}
                    {{ form.extraService }}         -->
                  
                  <!-- collapse for catering -->

                  <label  data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
                   1. Catering

                  
                  </label>
                <!-- <div class="collapse" id="collapse">
                  <div class="container-fluid" >
                    -->
                    <div class="row">
                      <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:rgb(248, 248, 248);padding: 2%;">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1547496502-affa22d38842?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=884&q=80" alt="Card image cap" style="height: 15rem;">
                      </div>
                      <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:rgb(248, 248, 248); padding: 2%;">

                          {% for category in categories %}
                       
                                  <input type="checkbox" id="myCheck" name="package"  value="{{ category.id }}" value= "1400" onclick="myFunction()">  
                                    <label style="font-size: large;" for="myCheck"></label>{{ category.name }} <br>
                                    <!-- <label style="font-style: italic; font-size: 15px;">Price:{{ catering.price }}/pax</label> -->
                                  <a href="{% url 'foodpackage' category.id %}" target="_blank" id="text" style="display:none">Click to customize your menu</a>
                          {% endfor %}

                     </div>
                    </div>
                  </div>
                      
                
                </div>
               
              </p>

                  <!-- collapse for decoration -->
                  <div class="conatiner-fluid">

                  <label  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    1. Extra Service
                   </label>

                   {{ form.extraService }}
                 <!-- <div class="collapse" id="collapseExample">
                   <div class="container-fluid" >
                    <div class="row">
                      <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1581548708095-7158f2e63857?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap" style="height: 15rem;">
                        <div class="card-body" >
                          <label><input type="checkbox" name="{{form.extraService}}" value="host"> Host</label>
                          <input type="checkbox" id="myCheck" name=""  value="{{ extraService.id }}">{{ extraService.serviceName }}  
                          

                        </div>
                      </div>
                              
                      
                      <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap" style="height: 15rem;">
                        <div class="card-body" >
                          <label><input type="checkbox" name="c{{extraService.id}}" value="Music">Music</label>
                        </div>
                      </div>
                             
                      </div>
                   </div>
                  </div>   -->
                 
                 </div>
                    <!-- <div class="conatiner" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                     2. Ertra Service
                     {{form.extraService}}
                    </div> 
                    <p> 
                  </div> -->
                

                <!-- collapse for extraService -->
                <!-- <div class="conatiner" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                  3. Music and dance
                 </div> 
                </p>
                 <div class="collapse" id="collapse2">
                  <div class="card card-body">
                    <p>
                      <label for="includeinscription">Music and dance floor($20)</label>
                      <input type="checkbox" id="includeinscription" name="includeinscription" onclick="calculateTotal()">
                  </p>
                  <br>
                </div>
              </div> -->
     
                   <label for="">Select Number of Guest </label>
                   <input type = "text" name ="guestNumber">
                
                  <br> 
              </fieldset>
          </div>

          <label>
            <br> Total<input value="NRP 0.00" readonly type="text" id="total" />
            <label>
              <input type="submit" id="submit" name="save" value="Submit & Pay" onclick="calculatetotal()" style="margin-top: 5px;">
                  <div id="totalPrice" style="background:rgb(0, 162, 255);"></div>
            </label>
          </label>

         
      </form>
  </div>
</div>


</div>
  

        <!-- <input type="submit" id="submit" value="Submit" onclick="calculateTotal()" style="margin-top: 5px;">
      </form> -->
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>       
 
<script type="text/javascript">  


function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var text = document.getElementById("text");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}

  var startDate;
  $('#startDate').on('change', function(){
    startDate = $(this).val();
    $('#endDate').prop('min', function(){
      return startDate;
    })
  })

  var endDate;
  $('#endDate').on('change', function(){
    endDate = $(this).val();
    $('#startDate').prop('max', function(){
      return endDate;
    })



  })

// // catering datetime range
//   var startDate1;
//   $('#startDate1').on('change', function(){
//     startDate1 = $(this).val();
//     $('#endDate1').prop('min', function(){
//       return startDate1;
//     })
//   })

//   var endDate1;
//   $('#endDate1').on('change', function(){
//     endDate1 = $(this).val();
//     $('#startDate1').prop('max', function(){
//       return endDate1;
//     })



//   })



// form switch for catering and venue
var checkboxSwitch = document.getElementsByName("checkboxSwitch");
var venueService =  document.getElementById("venueService");
var cateringService =  document.getElementById("cateringService");
venueService.style.display = 'block';   // show
cateringService.style.display = 'none';// hide
for(var i = 0; i < checkboxSwitch.length; i++) {
  checkboxSwitch[i].onclick = function() {
        var val = this.value;
        if(val == 'checkbox1' || val == 'checkbox2'){
          venueService.style.display = 'block';
            cateringService.style.display = 'none';
        }
        else if(val == 'checkbox3'){
          venueService.style.display = 'none';
             cateringService.style.display = 'block';
        }    
            
    }
}

window.myFunction() {
  var input = document.getElementById("package");
  var total=0;
  for(var i = 0; i< input.length; i++){
    total +=1;
  }
}


</script>
  
  </body>

</html>
{% endblock %}